*{
    box-sizing: border-box;
    margin: 0;
}
a{
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color:rgb(248, 194, 194);
}

.navbar{
    display: flex ;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    background-color: rgb(216, 92, 92);
}

.nav-link{
    margin: 0.5em;
    border: 0.2em solid rgb(216, 92, 92);
    padding: 0.2em;
    font-size: 1.2em;
    transition: ease-out 1s all;
}

.nav-link:hover{
    background-color: rgb(182, 169, 169);
    color: white;
}

footer {
    display: flex ;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    background-color: #76a162;
  } 
    
  footer p {
    text-align: center;
  }

  